In [24]:
import numpy as np

In [25]:
with open("./data_inputs/day4_input.txt") as f:
    raw_input = f.read()

In [26]:
input_semi = raw_input.split("\n")
rnd_list = input_semi[0].split(",")
rnd_list = list(map(int, rnd_list))

In [31]:
boards_1 = [l.replace('  ', ' ') for l in input_semi[2: ]]
boards_2 = [l.strip() for l in boards_1]
boards_3 = [l.split(" ") for l in boards_2]

boards = []
for i in range(100):
    boards.append(boards_3[i*6:i*6+5])

boards = [[list(map(int, l)) for l in b] for b in boards]
boards_arr = np.array(boards)

In [22]:
# ----- Part 1 -----

i = 0
c = None
b = None
l = None

while c == None and i < len(rnd_list)+1:

    n_list = rnd_list[:i]

    for board in boards_arr:
        for line in board:
            if all([num in n_list for num in line]):
                c = i
                b = board
                l = line
                print("Found! \nn_list:", n_list, "\nboard:", board.T, "\nline:", line)
                break

        for line in board.T:
            if all([num in n_list for num in line]):
                c = i
                b = board
                l = line
                print("Found! \nn_list:", n_list, "\nboard.T:", board.T, "\nline:", line)
                break

        if c:
            break

    i += 1

Found!
n_list: [1, 76, 38, 96, 62, 41, 27, 33, 4, 2, 94, 15, 89, 25, 66, 14, 30, 0, 71, 21, 48, 44, 87, 73, 60, 50, 77, 45, 29, 18, 5]
board.T: [[14 68 75 81 88]
 [91 29  0 47 92]
 [37 34 67 58 42]
 [ 5 76 33 30 77]
 [98 43 69 93 54]]
line: [ 5 76 33 30 77]

In [23]:
rnd_list[30]

5

In [24]:
b_1 = b.T[[0,1,2,4]]

In [25]:
b_2 = b_1.reshape((-1))

In [26]:
b_is = [num not in n_list for num in b_2]
b_is

[False,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True]

In [27]:
b_2

array([14, 68, 75, 81, 88, 91, 29,  0, 47, 92, 37, 34, 67, 58, 42, 98, 43,
       69, 93, 54])

In [28]:
sum(b_2[b_is]) * 5

5685

In [29]:
sum(sum(b.T[[0,1,2,4]])) * 5

5900

In [30]:
# ----- Part 2 -----

i = 0
c = None
b = None
l = None
wb = [0] * len(boards_arr)

while not all(wb) and i < len(rnd_list)+1:

    n_list = rnd_list[:i]

    for j, board in enumerate(boards_arr):
        if wb[j]:
            continue
        for line in board:
            if all([num in n_list for num in line]):
                wb[j] = 1
                c = i
                b = board
                l = line
                if all(wb):
                    print("Found! \nn_list:", n_list, "\nboard:", board.T, "\nline:", line)
                break

        for line in board.T:
            if all([num in n_list for num in line]):
                wb[j] = 1
                c = i
                b = board
                l = line
                if all(wb):
                    print("Found! \nn_list:", n_list, "\nboard.T:", board.T, "\nline:", line)
                break

        if all(wb):
            break

    i += 1

Found!
n_list: [1, 76, 38, 96, 62, 41, 27, 33, 4, 2, 94, 15, 89, 25, 66, 14, 30, 0, 71, 21, 48, 44, 87, 73, 60, 50, 77, 45, 29, 18, 5, 99, 65, 16, 93, 95, 37, 3, 52, 32, 46, 80, 98, 63, 92, 24, 35, 55, 12, 81, 51, 17, 70, 78, 61, 91, 54, 8, 72, 40, 74, 68, 75, 67, 39, 64, 10, 53, 9, 31, 6, 7, 47, 42, 90, 20, 19, 36, 22, 43, 58, 28, 79, 86, 57, 49]
board.T: [[10 88 60 55 97]
 [43 12 67 45 49]
 [83 38 59 74 65]
 [75 30 76 34 96]
 [ 8  9  6 25 69]]
line: [43 12 67 45 49]

In [31]:
n_list[-1]

49

In [32]:
sum(wb)

100

In [34]:
b_1 = b.T[[0,2,3,4]].reshape(-1)
print(b_1)
b_is = [num not in n_list for num in b_1]
print(b_is)

print(sum(b_1[b_is]))
print("Result:", sum(b_1[b_is]) * 49)

[10 88 60 55 97 83 38 59 74 65 75 30 76 34 96  8  9  6 25 69]
[False, True, False, False, True, True, False, True, False, False, False, False, False, True, False, False, False, False, False, True]
430
Result: 21070